body {
	font-family: "Fira Sans", sans-serif;
	margin-top: 3em;
}

.banner-carousel {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
  h2 {
    letter-spacing: 10px;
    color: #343434;
    margin: 0;
  }
  p {
    line-height: 1.8;
  }
  .slide-container {
    @media (min-width: 992px) {
      display: flex;
    }
  }
}

.banner-carousel-slide {
	width: 100%;
	max-width: 1000px;
	margin: auto;

	.slide-half {
		display: flex;
		align-items: center;
	}
}

.is-item {
	width: 100%;
  @media (min-width: 992px) {
    width: 60%;
  }
	&.with-img {
		width: 100%;
    @media (min-width: 992px) {
      width: 40%;
    }
	}
}

.slide-half-img {
	width: 100%;
	position: relative;
	overflow: hidden;
	img {
		width: 100%;
	}
}

.slide-content-inner {
	padding: 0em 3em;
}

// transitions
.slide-half-img {
	overflow: hidden;
	img {
		position: relative;
		transform: translateX(0);
		transition: all 600ms ease;
    @media (min-width: 992px) {
      transform: translateX(100%);
    }
	}
}

.slide-content-inner {
	p {
		position: relative;
    @media (min-width: 992px) {
      transform: translateY(15px);
      opacity: 0;
		  transition: all 400ms ease;
    }
	}
}

h2 {
	overflow: hidden;
	span {
		position: relative;
		display: inline-block;
    @media (min-width: 992px) {
      transform: translateY(100%);
      transition: all 500ms ease;
    }
	}
}

.banner-carousel-slide {
	&.is-selected {
		.slide-half-img {
			overflow: hidden;
			img {
				position: relative;
        @media (min-width: 992px) {
          transform: translateX(0%);
				  transition-delay: 500ms;
        }
			}
		}

		.slide-content-inner {
			p {
				position: relative;
        @media (min-width: 992px) {
          transform: translateY(0px);
				  transition-delay: 500ms;
          opacity: 1;
          &:nth-of-type(2) {
            color: red;
            transition-delay: 700ms;
          }
          &:nth-of-type(3) {
            transition-delay: 900ms;
          }
        }
			}
		}

		h2 {
			overflow: hidden;
			span {
				position: relative;
				display: inline-block;
        @media (min-width: 992px) {
          transform: translateY(0%);
          transition-delay: 400ms;
        }
			}
		}
	}
}

.flickity-page-dots {
	bottom: 0;
	.dot {
		opacity: 1;
	}
}