
.admin-user{
display:flex;
margin:3rem 0;
gap:2rem;
  .admin-users-heading{
    h1{
      font-size:3rem;
    }
  }

  .all-users-admin{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
  }
}


@media all and (max-width:1100px){
  .admin-users{

      .admin-users-heading{
          width:80%;
          align-self: center;
          display: flex;
          justify-content: space-between;
          h1{
          font-size:2rem;
      }
     
  }
}
}

@media all and (max-width:700px){

  .admin-user{

    .all-users-admin{
      grid-template-columns: 1fr;
    }
  }
}