$color_1: #ffffff;
$font-family_1: 'Quicksand', sans-serif;
$background-color_1: #f1f1f1;

body {
	background-image: linear-gradient(40deg, hsl(240deg 56% 48%) 0%, hsl(250deg 48% 49%) 10%, hsl(260deg 40% 49%) 24%, hsl(271deg 34% 50%) 42%, hsl(285deg 28% 50%) 57%, hsl(305deg 24% 50%) 68%, hsl(325deg 29% 54%) 75%, hsl(340deg 34% 58%) 81%, hsl(354deg 40% 62%) 85%, hsl(358deg 39% 63%) 89%, hsl(353deg 31% 62%) 92%, hsl(345deg 22% 61%) 94%, hsl(330deg 14% 60%) 96%, hsl(284deg 9% 60%) 97%, hsl(232deg 12% 62%) 98%, hsl(212deg 22% 61%) 99%, hsl(204deg 32% 60%) 100%, hsl(200deg 41% 58%) 100%);
	background-repeat: no-repeat;
	height: 99vh;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: $font-family_1;
}
.formBox {
	padding: 15px;
	text-align: center;
	min-height: 50vh;
    max-height: 90vh;
	min-width: 50vw;
	display: flex;
	flex-direction: column;
	background: #f8f8f885;
	border-radius: 30px;
	backdrop-filter: blur(10px);
}
h2 {
	margin-bottom: -10px;
}
p {
	font-weight: 500;
	font-size: 1.1em;
}
form {
	padding: 10px;
	>div {
		padding: 10px;
		position: relative;
		font-size: 1.3em;
		i {
			position: absolute;
			top: 22px;
			margin-left: 10px;
			opacity: 0.6;
		}
		input {
			height: 2em;
			width: 60vw;
			padding-left: 40px;
			font-size: 1em;
			border-radius: 10px;
			outline: none;
			border: 1px solid #b5adad;
			background-color: $background-color_1;
		}
		&:hover {
			>i {
				opacity: 1;
				transition: opacity 1s;
			}
		}
	}
}
div {
	>input {
		&:focus {
			border: 1px solid #6f6a6a;
		}
	}
}
textarea {
	border: none;
	width: 70vw;
	border-radius: 10px;
	padding: 10px;
	outline: none;
	font-size: 1em;
}
button {
	width: 50%;
	height: 5vh;
	color: $color_1;
	background: #00d689;
	outline: none;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 0.8em;
}

$color_1: #fff;
$font-family_1: 'Lato', sans-serif;

/* 2 */
button {
	margin: 20px;
}
.custom-btn {
	width: 130px;
	height: 40px;
	color: $color_1;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: $font-family_1;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}
.btn-2 {
	background: rgb(96,9,240);
	background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
	border: none;
	&:before {
		height: 0%;
		width: 2px;
	}
	&:hover {
		box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5), -4px -4px 6px 0 rgba(116, 125, 136, .5), inset -4px -4px 6px 0 rgba(255,255,255,.2), inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
	}
}



@media screen and (min-width:900px) {
	form {
		>div {
			input {
				width: 35vw;
			}
		}
	}
	textarea {
		width: 35vw;
	}
}
