
#footer-we{
    text-align: center;
    height:9rem;
	background-color: #f8f8f885;
    display: flex;;
    justify-content: center;
    align-items: center;
	
}
.social-icons{
      padding: 10px;
}
