.flight-card{
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.2);
    padding:1rem;
    border-radius:10px;
    transition:all 0.2s;
    background-color: #f8f8f885;
    
    
}
.flight-card:hover{
    transform: scale(1.01);
    box-shadow:  0 0 20px 0 rgba(0,0,0,0.2);

}