* {
  transition: all 0.2s;
}
.content {
  padding-left: 7rem;
  min-height: 100vh;
}

.content-big {
  padding-left: 17rem;
}

.color-change {
  color: black !important;
}

.dark-color {
  color: white !important;
}

@media all and (max-width: 1100px) and (max-height: 900px) {
  .content {
    padding: 0;
  }
}
